
<div class="content">

  <div class="flex flex-col relative mx-auto bg-background font-roboto min-h-screen rounded overflow-hidden">

      <!-- Header with fixed Navbar -->
    <nav class="fixed navbar mx-auto px-150 w-full overflow-hidden">
      <!-- <div class="flex flex-1 w-64 mx-auto rounded-2x1">
        <div class="flex flex-1">
          <p class="font-extrabold bg-clip-text">
            Felipe Nagao
          </p>
        </div>
      </div> -->
      <div class="flex p-10">
        <nav class="flex flex-1 justify-center justify-items">
          <a href="#home" (click)="scrollToSection($event, 'home')" class="horizontal-underline rounded py-1 px-3 hover:bg-gray-400">Home</a>
          <a href="#about"(click)="scrollToSection($event, 'about')" class="horizontal-underline rounded py-1 px-3 hover:bg-gray-400">Sobre mim</a>
          <a href="#tech" (click)="scrollToSection($event, 'tech')" class="horizontal-underline rounded py-1 px-3 hover:bg-gray-400">Tech Stack</a>
          <a href="#contact" (click)="scrollToSection($event, 'contact')" class="horizontal-underline rounded py-1 px-3 hover:bg-gray-400">Contato</a>
          <!-- <button class="theme-switch rounded hover:bg-gray-400 w-8 p-1" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
            <div class="icon-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="20" height="20" viewBox="0 0 384 512" class="iconify iconify--fa6-solid">
                <path fill="currentColor" d="M223.5 32C100 32 0 132.3 0 256s100 224 223.5 224c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z">
                </path>
              </svg>
            </div>
          </button> -->
        </nav>
      </div>
    </nav>

    <!-- Home -->
    <section id="home" class="start mx-auto min-h-screen min-w-screen">
      <div class="aurora-2"></div>
      <div class="aurora"></div>
      <div class="start-content">
        
        <app-snow class="snow"></app-snow>
        
        <div class="content">

          <p class="typewriter">Felipe Nagao</p>
          <app-typewriter class="typewriter"></app-typewriter>
          <br>

          <p class="typewriter-common">
          📍 São Paulo, SP, Brasil <br>
          Apaixonado por Engenharia de Software, Gaming e Guitarras.<br><br>
          Em busca de uma oportunidade no ramo de desenvolvimento de Software, <br>
          com muita vontade de solucionar problemas, colaborar em projetos reais e aprender com equipes experientes. 
          </p>

          <div class="contact">

            <div class="see-more rounded flex">

              <p class="text-white rounded py-4">
                Vamos nos conhecer?
              </p>
              <a href="#about"(click)="scrollToSection($event, 'about')" class="down-button">
                <div class="down-animation transition">
                  <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" fill="white" viewBox="0 0 24 24">
                    <path d="M7 10l5 5 5-5H7z"/>
                  </svg>
                </div>
              </a>
              


            </div>

            <div class="socials flex space-x-8">

              <a href="https://github.com/fehl" target="_blank" aria-label="GitHub" class="social hover:text-white transition">
                <i class="fab fa-github text-xl"></i>
              </a>
              <a href="https://www.linkedin.com/in/felipe-nagao-488500230/" target="_blank" aria-label="LinkedIn" class="social hover:text-white transition">
                <i class="fab fa-linkedin text-xl"></i>
              </a>
              <a href="mailto:fh.nagao@gmail.com" class="social hover:text-white transition" aria-label="Email">
                <i class="fas fa-envelope text-xl"></i>
              </a>

              
            </div>

            

          </div>

          

        </div>
        

        
      </div>
    </section>

    <!-- Main Text -->
    <main id="about" class="flex flex-1 flex-col space-y-10">
      <div class="custom-shape-divider-top">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 115" preserveAspectRatio="none">
              <path fill="#04052E" d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
          </svg>
      </div>
      <div class="flex items-center justify-center rounded text-white text-center mx-auto">
        <div>
          <h1>
            <span class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-green-500 to-pink-500 animated-gradient">
              Transformando Ideias
            </span>
            <span role="img" class="wave m1-2">👋</span>
          </h1>
        </div>
      </div>
      <div class="flex rounded mx-auto w-128">
        <div class="flex inline-block">
          <p class>
            Eu sou um
            <span class="highlight-blue">Desenvolvedor de Software</span>
            que ama inovar e está <span class="highlight-yellow whitespace-nowrap">sempre buscando aprender</span> coisas novas.
            Estudo por meio de livros técnicos e artigos, sempre <span class="highlight-yellow">experimentando</span> em projetos pessoais.
          </p>
        </div>
      </div>
      <div class="flex rounded mx-auto w-128">
        <div>
          <p class>
            Com aproximadamente <span class="highlight-green whitespace-nowrap">5 anos de experiência</span> em Desenvolvimento de Software, 
            criei diversos projetos de websites e softwares com diferentes abordagens em problemas gerais e nichados.
            Meu objetivo é construir soluções inteligentes com um toque <span class="highlight-yellow">criativo</span> e <span class="highlight-yellow">inovador</span> 
            que se alinhe com sua visão de negócio.
          </p>
        </div>
      </div>
      <div class="flex rounded mx-auto w-128">
        <div>
          <p>
            Juntos podemos criar projetos memoráveis!
          </p>
        </div>
      </div>
      <hr class="py-4 mx-auto" style="width:40%">
    </main>
  </div>

  <div class="flex rounded mx-auto">
    <!-- TimeLine -->
      <section class="bg-gray-100 mx-auto">
        <h2 class="text-4xl font-bold text-center mb-12">🕒 Experiências</h2>
        <div class="w-256 mx-auto">
          <div class="relative border-l-4 border-blue-500 ml-6">
          
            <!-- Event 1 -->
            <div class="mb-10 ml-6">
              <div class="absolute w-4 h-4 bg-blue-500 rounded-full -left-2 top-1.5"></div>
              <p class="text-sm text-gray-500">Dez 2024 - Presente</p>
              <h3 class="text-xl font-semibold">Desenvolvedor Autonômo</h3>
              <p class="text-gray-700">Estudando e desenvolvendo projetos para inserção no mercado como Engenheiro de Software</p>
              <p class="text-gray-700">Realizando Freelances relacionados a websites e aplicações web periodicamente</p>
            </div>

            <!-- Event 2 -->
            <div class="mb-10 ml-6">
              <div class="absolute w-4 h-4 bg-blue-500 rounded-full -left-2 top-1.5"></div>
              <p class="text-sm text-gray-500">Fev 2023 – Dez 2024</p>
              <h3 class="text-xl font-semibold">Estágio em Análise de Dados na Ericsson Inc.</h3>
              <p class="text-gray-700">Responsável por otimizar e documentar códigos em DAX, SQL e Python, aumentando consideravelmente a performance em ambiente de produção </p>
              <p class="text-gray-700">Responsável pela migração de projetos de Tableau para PowerBI, reduzi em 37% o valor gasto mensalmente com licenças</p>
              <p class="text-gray-700">Reuniões diárias com o Scrum Master e uma equipe internacional, comunicação 100% em inglês </p>
              <p class="text-blue-700">Amazon Web Services, Azure, Docker, Kubernetes, Python, PowerBI, Tableau, SQL Server</p>
            </div>

            <!-- Event 3 -->
            <div class="mb-10 ml-6">
              <div class="absolute w-4 h-4 bg-blue-500 rounded-full -left-2 top-1.5"></div>
              <p class="text-sm text-gray-500">Ago 2021 – Fev 2023</p>
              <h3 class="text-xl font-semibold">Freelancer </h3>
              <p class="text-gray-700">Desenvolvimento de bots e APIs</p>
              <p class="text-gray-700">Criação de features, websites e landing pages</p>
              <p class="text-gray-700">Responsável por dar suporte e manutenção às aplicações e automações diferentes empresas</p>
              <p class="text-blue-700">PostgreSQL, NodeJS, Python, JavaScript, Java, SpringBoot, TypeScript, TailwindCSS</p>
            </div>


            <!-- Event 4 -->
            <div class="mb-10 ml-6">
              <div class="absolute w-4 h-4 bg-blue-500 rounded-full -left-2 top-1.5"></div>
              <p class="text-sm text-gray-500">Ago 2020 - Jun 2027 (Esperado)</p>
              <h3 class="text-xl font-semibold">Bacharelado em Ciência da Computação &</h3>
              <h3 class="text-xl font-semibold">Bacharelado em Ciência de Dados</h3>
              <p class="text-gray-700">Universidade Federal do ABC, em busca da dupla graduação com ênfase em ML/AI</p>
              <p class="text-blue-700">Engenharia de Software, R, Python, PySpark, PyTorch, Modelos de Machine Learning e Artificial Intelligence</p>
            </div>
          </div>
        </div>
        
      </section>
  </div>

  <!-- Tech Stack -->

  <section id="tech" class="bg-background font-roboto min-h-screen overflow-hidden mx-auto">
    <div class="custom-shape-divider-top max-w-screen">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 310"><path fill="#04052E" fill-opacity="1" d="M0,160L20,144C40,128,80,96,120,96C160,96,200,128,240,170.7C280,213,320,267,360,277.3C400,288,440,256,480,234.7C520,213,560,203,600,202.7C640,203,680,213,720,192C760,171,800,117,840,112C880,107,920,149,960,192C1000,235,1040,277,1080,261.3C1120,245,1160,171,1200,154.7C1240,139,1280,181,1320,197.3C1360,213,1400,203,1420,197.3L1440,192L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z"></path></svg>
    </div>
    <div class="min-w-screen tech">
      <div class="p-10 flex mx-auto w-128">
        <span 
          class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 drop-shadow-md animated-gradient-tools"
        >
          &lt;Development Tools \&gt;
        </span>
      </div>
      
      <div class="flex max-w-xl mx-auto p-6 bg-white rounded-lg shadow-md">
        <app-tech-stack class=""></app-tech-stack>
      </div>
    </div>
    
    
  </section>


  <!-- Contact me -->
  <section id="final" class="min-h-screen">
    <div class="custom-shape-divider-top max-w-screen">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#04052E" fill-opacity="1" d="M0,160L20,144C40,128,80,96,120,96C160,96,200,128,240,170.7C280,213,320,267,360,277.3C400,288,440,256,480,234.7C520,213,560,203,600,202.7C640,203,680,213,720,192C760,171,800,117,840,112C880,107,920,149,960,192C1000,235,1040,277,1080,261.3C1120,245,1160,171,1200,154.7C1240,139,1280,181,1320,197.3C1360,213,1400,203,1420,197.3L1440,192L1440,0L1420,0C1400,0,1360,0,1320,0C1280,0,1240,0,1200,0C1160,0,1120,0,1080,0C1040,0,1000,0,960,0C920,0,880,0,840,0C800,0,760,0,720,0C680,0,640,0,600,0C560,0,520,0,480,0C440,0,400,0,360,0C320,0,280,0,240,0C200,0,160,0,120,0C80,0,40,0,20,0L0,0Z"></path></svg>
    </div>
    <div id="contact" class="container mx-auto">

      <div class="text-center py-8">
        <h2 class="text-4xl font-extrabold">Contato</h2>
        <hr style="width: 15%" class="mx-auto">

        <p class="py-8 text-lg font-semibold text-gray-700">Possui alguma dúvida ou interessado em trabalharmos juntos? Entre em contato:</p>
      </div>
      
      <div class="max-w-xl grid grid-cols-1 md:grid-cols-2 mx-auto gap-10">

        <div class="p-6 bg-white rounded-lg shadow-md">
          <h3 class="text-lg font-semibold mb-4 text-center">Informações de Contato</h3>
            <div class="flex items-start contacts transition">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail w-5 h-5 blue-sky-color"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg>
                </div>
                <div class="px-1">
                  <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=fh.nagao@gmail.com&amp;su=Contato pelo Portfolio: (Assunto)" target="_blank" rel="noopener noreferrer">
                      fh.nagao&commat;gmail.com
                  </a>
                </div>
            </div>
            
            <div class="flex items-start contacts transition">
              <i class="fab fa-github text-xl blue-sky-color"></i>
              <a href="https://github.com/fehl" target="_blank" aria-label="GitHub" class="px-1">
                Github
              </a>
            </div>

            <div class="flex items-start contacts transition">
              <i class="fab fa-linkedin text-xl blue-sky-color "></i>
              <a href="https://www.linkedin.com/in/felipe-nagao-488500230/" target="_blank" aria-label="LinkedIn" class="px-1">
                Linkedin
              </a>
            </div>

            <div class="flex items-start">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin w-5 h-5 blue-sky-color"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"></path><circle cx="12" cy="10" r="3"></circle></svg>
              </div>
              <p class="px-1">São Paulo, SP</p>
            </div>


        </div>

        <div class="p-10 max-w-xl p-6 bg-white rounded-lg shadow-md">
          <h3 class="text-lg font-semibold mb-4 text-center">Vamos nos conectar?</h3>  
          <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=fh.nagao@gmail.com&amp;su=Contato pelo Portfolio: (Assunto)" target="_blank" rel="noopener noreferrer" class="w-full start contacts transition text-white py-2 px-4 rounded-md flex items-center justify-center gap-2 transition-colors"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail w-4 h-4"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg>Abrir o Gmail</a>
        </div>

      </div>

    </div>
    
    
  </section>


  <br>
  <!-- Footer -->
  <footer class="bg-gray-900 text-gray-300 py-8 mt-16">
    <div class="container mx-auto px-4 text-center space-y-4">
      <h2 class="text-lg font-semibold tracking-wider uppercase">Tenha uma fantástica {{ weekDay() }}!</h2>
  
      <div class="flex justify-center space-x-6">
        <a href="https://github.com/fehl" target="_blank" aria-label="GitHub" class="social hover:text-white transition">
          <i class="fab fa-github text-xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/felipe-nagao-488500230/" target="_blank" aria-label="LinkedIn" class="social hover:text-white transition">
          <i class="fab fa-linkedin text-xl"></i>
        </a>
        <a href="mailto:fh.nagao@gmail.com" class="social hover:text-white transition" aria-label="Email">
          <i class="fas fa-envelope text-xl"></i>
        </a>
      </div>
  
      <p class="text-sm text-gray-400">&copy; {{ currentYear }} Felipe Nagao. All rights reserved.</p>
    </div>
  </footer>
  
  
  
</div>
